*
{
    box-sizing: border-box;
}



.parent
{
    width: 50%;
    margin: 20px auto;
    padding: 15px;
    position: relative;
    overflow: hidden;
}

@media(max-width:767)
{
 .parent
 {
   width:90%;
 }
}

.container
{
    max-width: 600px;
    margin: 20px auto;
}


@media(max-width:767)
{
 .container
 {
   width:100%;
 }
}

.form
{
    padding: 20px;
    background-color: #c3bdbd;
    display: flex;
    border-radius: 15px;
}
.add
{
    width: 100px;
    background-color: rgb(232, 70, 70);
    color: white;
    border: 0;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    margin-left: 10px;
}
input
{
    width: 90%;
    border-radius: 5px;
    outline: none;
    border: 0;
}
.tasks
{
    margin-top: 20px;
    background-color: #c3bdbd;
    border-radius: 15px;
}
.tasks .task
{
    display: flex;
    padding: 10px;
}
.tasks .task p
{
    width: 90%;
    background-color: white;
    padding: 10px;
}
.tasks .task button
{
    width: 10%;
    margin: 16px 0 16px 10px;
    cursor: pointer;
}
